<div class="relative flex flex-auto w-full bg-card dark:bg-transparent">

    <mat-drawer-container
        class="flex-auto h-full"
        [hasBackdrop]="false">

        <!-- Drawer -->
        <mat-drawer
            class="w-full sm:w-100 lg:border-r lg:shadow-none dark:bg-gray-900"
            [autoFocus]="false"
            [(opened)]="drawerOpened"
            #drawer>

            <!-- New chat -->
            <ng-container *ngIf="drawerComponent === 'new-chat'">
                <chat-new-chat [drawer]="drawer"></chat-new-chat>
            </ng-container>

            <!-- Profile -->
            <ng-container *ngIf="drawerComponent === 'profile'">
                <chat-profile [drawer]="drawer"></chat-profile>
            </ng-container>

        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex overflow-hidden">

            

            <!-- No chats template -->
            <ng-template #noChats>
                <div class="flex flex-auto flex-col items-center justify-center h-full">
                    <mat-icon
                        class="icon-size-24"
                        [svgIcon]="'iconsmind:speach_bubble'"></mat-icon>
                    <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">No chats</div>
                </div>
            </ng-template>

            <!-- Conversation -->
            <ng-container *ngIf="chats && chats.length > 0">
                <div
                    class="flex-auto border-l"
                    [ngClass]="{'z-20 absolute inset-0 lg:static lg:inset-auto flex': selectedChat && selectedChat.id,
                                'hidden lg:flex': !selectedChat || !selectedChat.id}">
                    <router-outlet></router-outlet>
                </div>
            </ng-container>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
