.header
{
    background-image: url('https://wallpaperaccess.com/full/244206.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    

}

