<div class="w-full max-w-3xl">

    <!-- Add team member -->
    <div class="w-full">
        <mat-form-field class="fuse-mat-no-subscript w-full" [floatLabel]="'always'">
            <mat-label>Add team members</mat-label>
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon>
            <input matInput [placeholder]="'Email address'">
            <button mat-icon-button matSuffix>
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
            </button>
        </mat-form-field>
    </div>

    <!-- Team members --
    
    <div class="flex flex-col mt-8 divide-y border-t border-b">
        <ng-container *ngFor="let event of eventPending">
            <div class="flex flex-col sm:flex-row sm:items-center py-6" *ngIf="event.event.organizer.id == user.id">
                <div class="flex items-center">

                    <div class="ml-4">
                        <div class="font-medium">{{event.event.title}}</div>

                        <ng-container *ngFor="let participant of event.participant">

                            <div class="flex items-center ">
                                <div
                                    class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                                    <ng-container *ngIf="participant.picture != null">
                                        <img class="object-cover w-full h-full"
                                            src="data:image/jpg;base64,{{participant.picture.data}}"
                                            alt="Contact avatar" />
                                    </ng-container>

                                </div>
                                <div class="ml-4">
                                    <div class="font-medium">{{participant.username}}</div>

                                    <div class="text-secondary">{{participant.email}}</div>
                                </div>

                                <div class="flex items-center mt-4 sm:mt-0 sm:ml-auto">
                                    <div class="order-2 sm:order-1 ml-4 sm:ml-0">
                                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-32">
                                            <mat-select [panelClass]="'w-72 min-w-72 max-w-72 h-auto max-h-none'"
                                                [value]="" disableOptionCentering #roleSelect="matSelect">
                                                <mat-select-trigger class="text-md">
                                                    <span>Role:</span>
                                                    <span class="ml-1 font-medium">pending | titlecase</span>
                                                </mat-select-trigger>
                                                <ng-container *ngFor="let role of roles">
                                                    <mat-option class="h-auto py-4 leading-none" [value]="pending">
                                                        <div class="font-medium">pending</div>
                                                        <div
                                                            class="mt-1.5 text-sm whitespace-normal leading-normal text-secondary">
                                                        </div>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="order-1 sm:order-2 sm:ml-3">
                                        <button mat-icon-button>
                                            <mat-icon class="text-hint" [svgIcon]="'heroicons_outline:trash'">
                                            </mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>

            </div>

        </ng-container>

    </div>

    </div> -->

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <div class="flex flex-col mt-8 divide-y border-t border-b">
        <ng-container *ngFor="let event of eventPending">
            
           



                        <div class="jumbotron list-content" *ngIf="event.event.organizer.id == user.id" >
                            <ul class="list-group">
                                <li href="#" class="list-group-item title" style="font-size: 20px;">
                                    {{event.event.title}}
                                </li>
                                <ng-container *ngFor="let participant of event.participant">

                                    <li href="#" class="list-group-item text-left">
                                        <img class="img-thumbnail rounded-full" *ngIf="participant.picture !=null"
                                            src="data:image/jpg;base64,{{participant.picture.data}}">
                                            <img class="img-thumbnail rounded-full" *ngIf="participant.picture ==null"
                                            src="https://icon-library.com/images/user-image-icon/user-image-icon-17.jpg">
                                        <label class="name" style="font-size: 15px;">
                                            {{participant.username}}<br>
                                        </label>
                                        
                                        <label class="pull-right">
                                           
                                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="changeStatus(participant.id,event.event.id)">
                                                    <mat-icon>done</mat-icon>
                                                  </button>
                                          
                                     
                                        </label>
                                        <div class="break"></div>
                                        
                                    </li>
                                </ng-container>



                            </ul>
                        </div>

        </ng-container>
    </div>
  </div>
