<div class="w-full max-w-3xl">


    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <div class="flex flex-col mt-8 divide-y border-t border-b">
        <ng-container *ngFor="let event of eventPending">
            
           



                        <div class="jumbotron list-content" *ngIf="event.event.organizer.id == user.id" >
                            <ul class="list-group">
                                <li href="#" class="list-group-item title" style="font-size: 20px;">
                                    {{event.event.title}}
                                </li>
                                <ng-container *ngFor="let participant of event.participant">

                                    <li href="#" class="list-group-item text-left">
                                        <img class="img-thumbnail rounded-full" *ngIf="participant.picture !=null"
                                            src="data:image/jpg;base64,{{participant.picture.data}}">
                                            <img class="img-thumbnail rounded-full" *ngIf="participant.picture ==null"
                                            src="https://icon-library.com/images/user-image-icon/user-image-icon-17.jpg">
                                        <label class="name" style="font-size: 15px;">
                                            {{participant.username}}<br>
                                        </label>
                                        
                                        <label class="pull-right">
                                           
                                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="changeStatus(participant.id,event.event.id)">
                                                    <mat-icon>done</mat-icon>
                                                  </button>
                                          
                                     
                                        </label>
                                        <div class="break"></div>
                                        
                                    </li>
                                </ng-container>



                            </ul>
                        </div>

        </ng-container>
    </div>
  </div>
