<div class="w-full max-w-3xl">

    <!-- Add team member -->
    <div class="w-full">
        <mat-form-field
            class="fuse-mat-no-subscript w-full"
            [floatLabel]="'always'">
            <mat-label>Add team members</mat-label>
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:user'"
                matPrefix></mat-icon>
            <input
                matInput
                [placeholder]="'Email address'">
            <button
                mat-icon-button
                matSuffix>
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
            </button>
        </mat-form-field>
    </div>

    <!-- Team members -->
    <div class="flex flex-col mt-8 divide-y border-t border-b" *ngIf="isPending == true">
        <ng-container *ngFor="let event of eventPending">
            <div class="flex flex-col sm:flex-row sm:items-center py-6" >
                <div class="flex items-center">
                       
                        <div class="ml-4">
                            <div class="font-medium">{{event.event.title}}</div>
                            <ng-container *ngFor="let participant of event.participant">
                                <div class="flex flex-col sm:flex-row sm:items-center py-6">
                                    <div class="flex items-center">
                                           
                                            <div class="ml-4">
                                                <div class="font-medium">{{participant.username}}</div>
                                            </div>
                                        </div>
                                       
                                   
                                </div>
                            </ng-container>
                        </div>
                    </div>
                   
               
            </div>
        </ng-container>

    </div>

</div>
