
/*****************globals*************/


body {



    mat-carousel{
        width: 100%;
  
    }
    
    font-family: 'open sans';
    overflow-x: hidden; }
  
  img {
    max-width: 100%; }
  
  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
  .card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      app-payment {
        width: 100%;
        height: 200px;
      }

      
    } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
  
  .checked, .price span {
    color: #ff9f1a; }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
    .color:first-of-type {
      margin-left: 20px; }
  
  .add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover, .like:hover {
      background: #b36800;
      color: #fff; }
  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }
  
  .orange {
    background: #ff9f1a; }
  
  .green {
    background: #85ad00; }
  
  .blue {
    background: #0076ad; }
  
  .tooltip-inner {
    padding: 1.3em; }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
              agm-map {
                height: 500px;
                width: 70%;
              }
              
              .container {
                padding: 1rem;
                
              }
              
              .full-width {
                width: 100%;
              }
  
  /*# sourceMappingURL=style.css.map */



@import "src/@fuse/scss/fuse";

#academy-course {


    .sidebar {

        .steps {
            padding: 16px 0;

            .step {
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 16px;
                cursor: pointer;

                &.current {

                    .index {

                        span {
                            border: 2px solid;
                        }
                    }

                    .title {
                        font-weight: bold;
                    }
                }

                &.completed {

                    .index {

                        span {
                            border: 2px solid;
                        }
                    }
                }

                &.first {

                    .index {

                        &:before {
                            display: none;
                        }
                    }
                }

                &.last {

                    .index {

                        &:after {
                            display: none;
                        }
                    }
                }

                .index {
                    display: flex;
                    margin-right: 12px;

                    &:before,
                    &:after {
                        position: absolute;
                        display: block;
                        content: ' ';
                        border-left: 1px solid;
                        width: 1px;
                        height: 50%;
                        left: 29px;
                        z-index: 8;
                    }

                    &:before {
                        top: 0;
                    }

                    &:after {
                        bottom: 0;
                    }

                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        width: 28px;
                        min-width: 28px;
                        max-width: 28px;
                        height: 28px;
                        border-radius: 100%;
                        border: 2px solid;
                        font-weight: bold;
                        font-size: 12px;
                        z-index: 10;
                    }
                }

                .title {
                    display: flex;
                }
            }
        }
    }

    .center {
        @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

        * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }


        body {
            font-family: 'Roboto', sans-serif;
        }

        a {
            text-decoration: none;
        }

        .product-card {
            width: 380px;
            position: relative;
            box-shadow: 0 2px 7px #dfdfdf;
            margin: 50px auto;
            background: #fafafa;
        }

        .badge {
            position: absolute;
            left: 0;
            top: 20px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            background: red;
            color: #fff;
            padding: 3px 10px;
        }

        .product-tumb {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 300px;
            padding: 50px;
            background: #f0f0f0;
        }

        .product-tumb img {
            width: 800px;
            height: 270px;
        }

        .product-details {
            padding: 30px;
        }

        .product-catagory {
            display: block;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ccc;
            margin-bottom: 18px;
        }

        .product-details h4 a {
            font-weight: 500;
            display: block;
            margin-bottom: 18px;
            text-transform: uppercase;
            color: #363636;
            text-decoration: none;
            transition: 0.3s;
        }

        .product-details h4 a:hover {
            color: #fbb72c;
        }

        .product-details p {
            font-size: 15px;
            line-height: 22px;
            margin-bottom: 18px;
            color: #999;
        }

        .product-bottom-details {
            overflow: hidden;
            border-top: 1px solid #eee;
            padding-top: 20px;
        }

        .product-bottom-details div {
            float: left;
            width: 50%;
        }

        .product-price {
            font-size: 18px;
            color: #fbb72c;
            font-weight: 600;
        }

        .product-price small {
            font-size: 80%;
            font-weight: 400;
            text-decoration: line-through;
            display: inline-block;
            margin-right: 5px;
        }

        .product-links {
            text-align: right;
        }

        .product-links a {
            display: inline-block;
            margin-left: 5px;
            color: #e1e1e1;
            transition: 0.3s;
            font-size: 17px;
        }

        .product-links a:hover {
            color: #fbb72c;
        }

        position: relative;
        overflow: hidden;

        .header {
            height: 72px;
            min-height: 72px;
            max-height: 72px;
        }

        .content {
            position: relative;
            display: flex;

            .course-step {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 48px;
                overflow: auto;
                -webkit-overflow-scrolling: touch;

                &.ng-animating {
                    overflow: hidden;
                }

                @media (max-width: 720px) {
                    padding: 0 0 120px 0;
                }

                .course-step-content {
                    padding: 24px;
                    max-width: 720px;
                    margin: 0 auto;
                    width: 100%;
                    border-radius: 8px;
                    @include mat-elevation(1);
                }
            }
        }

        .step-navigation {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            bottom: 32px;
            max-width: 944px;
            padding: 0 24px;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);

            .previous {
                margin-right: auto;
            }

            .next,
            .done {
                margin-left: auto;
            }
        }

        body {
            background: #ddd;
            min-height: 100vh;
            vertical-align: middle;
            display: flex
        }

        .card {
            margin: auto;
            width: 600px;
            padding: 3rem 3.5rem;
            box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19)

         
            
            
        }

        .mt-50 {
            margin-top: 50px
        }

        .mb-50 {
            margin-bottom: 50px
        }

        @media(max-width:767px) {
            .card {
                width: 90%;
                padding: 1.5rem
            }
        }

        @media(height:1366px) {
            .card {
                width: 90%;
                padding: 8vh

                
            }
        }

        .card-title {
            font-weight: 700;
            font-size: 2.5em
        }

        .nav {
            display: flex
        }

        .nav ul {
            list-style-type: none;
            display: flex;
            padding-inline-start: unset;
            margin-bottom: 6vh
        }

        .nav li {
            padding: 1rem
        }

        .nav li a {
            color: black;
            text-decoration: none
        }

        .active {
            border-bottom: 2px solid black;
            font-weight: bold
        }

        input {
            border: none;
            outline: none;
            font-size: 1rem;
            font-weight: 600;
            color: #000;
            width: 100%;
            min-width: unset;
            background-color: transparent;
            border-color: transparent;
            margin: 0
        }

        form a {
            color: grey;
            text-decoration: none;
            font-size: 0.87rem;
            font-weight: bold
        }

        form a:hover {
            color: grey;
            text-decoration: none
        }

        form .row {
            margin: 0;
            overflow: hidden
        }

        form .row-1 {
            border: 1px solid rgba(0, 0, 0, 0.137);
            padding: 0.5rem;
            outline: none;
            width: 100%;
            min-width: unset;
            border-radius: 5px;
            background-color: rgba(221, 228, 236, 0.301);
            border-color: rgba(221, 228, 236, 0.459);
            margin: 2vh 0;
            overflow: hidden
        }

        form .row-2 {
            border: none;
            outline: none;
            background-color: transparent;
            margin: 0;
            padding: 0 0.8rem
        }

        form .row .row-2 {
            border: none;
            outline: none;
            background-color: transparent;
            margin: 0;
            padding: 0 0.8rem
        }

        form .row .col-2,
        .col-7,
        .col-3 {
            display: flex;
            align-items: center;
            text-align: center;
            padding: 0 1vh
        }

        form .row .col-2 {
            padding-right: 0
        }

        #card-header {
            font-weight: bold;
            font-size: 0.9rem
        }

        #card-inner {
            font-size: 0.7rem;
            color: gray
        }

        .three .col-7 {
            padding-left: 0
        }

        .three {
            overflow: hidden;
            justify-content: space-between
        }

        .three .col-2 {
            border: 1px solid rgba(0, 0, 0, 0.137);
            padding: 0.5rem;
            outline: none;
            width: 100%;
            min-width: unset;
            border-radius: 5px;
            background-color: rgba(221, 228, 236, 0.301);
            border-color: rgba(221, 228, 236, 0.459);
            margin: 2vh 0;
            width: fit-content;
            overflow: hidden
        }

        .three .col-2 input {
            font-size: 0.7rem;
            margin-left: 1vh
        }

        .btn {
            width: 100%;
            background-color: rgb(65, 202, 127);
            border-color: rgb(65, 202, 127);
            color: white;
            justify-content: center;
            padding: 2vh 0;
            margin-top: 3vh
        }

        .btn:focus {
            box-shadow: none;
            outline: none;
            box-shadow: none;
            color: white;
            -webkit-box-shadow: none;
            -webkit-user-select: none;
            transition: none
        }

        .btn:hover {
            color: white
        }

        input:focus::-webkit-input-placeholder {
            color: transparent
        }

        input:focus:-moz-placeholder {
            color: transparent
        }

        input:focus::-moz-placeholder {
            color: transparent
        }

        input:focus:-ms-input-placeholder {
            color: transparent
        }

        // --------------------------
        // Set-up styles
        // --------------------------
        * {
            box-sizing: border-box;
        }

        body {
            background: slategray;
            margin: 0;
            padding: 3em 1em;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        figure {
            margin: 0;
        }

        figcaption {
            font-style: italic;
            font-size: 0.8em;
            color: grey;
            line-height: 1.4;
        }

        // --------------------------
        // Grid styles
        // --------------------------
        .grid {
            display: grid;
            grid-auto-flow: column; // display the items in columns only, ie horizontal
            grid-auto-columns: 90%; // create as many columns as there are items. 90% so we can see next item on the right.
            grid-gap: 1em;
            overflow-x: scroll; // scroll only within the grid, not entire page
            -webkit-overflow-scrolling: touch; // better scrolling on touch
            padding: 2em 1em;
            background: white;

            @media all and (min-width: 600px) {
                grid-auto-flow: initial; // default: display items in rows and cols
                grid-template-columns: repeat(auto-fit, minmax(auto, 20em)); // as many columns with max-width of 20em;
                justify-content: center; // center the items - this is optional
            }

            &__figure {
                display: grid;
                grid-template-rows: 15em 1fr; // 15em high row for image – value could be whatever
                grid-gap: 1em;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover; // crop image within its cell
                }
            }
        }
    
          
     
          

    }


    $color: #555;
    $main-background: #5B9EED;
    $white: #fff;
    $white-two: #aaa;

    body {
        color: #555;
        background-color: #5B9EED;
        font-family: sans-serif;
    }

    .list-wrapper {
        max-width: 400px;
        margin: 50px auto;
    }

    .list {
        background: $white;
        border-radius: 2px;
        list-style: none;
        padding: 10px 20px;
    }

    .list-item {
        display: flex;
        margin: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:last-child {
            border-bottom: none;
        }

        &-image {
            border-radius: 50%;
            width: 64px;
        }

        &-content {
            margin-left: 20px;

            h4,
            p {
                margin: 0;
            }

            h4 {
                margin-top: 10px;
                font-size: 18px;
            }

            p {
                margin-top: 5px;
                color: $white-two;
            }
        }
    }
    p {
        font-family: Lato;
      }
      
      dl {
        font-size: 13px;
      }
      
      dl code {
        padding: 0 3px;
        border: 1px solid #ccc;
        white-space: nowrap;
      }
      
      input[type=text] {
        width: 300px;
        padding: 3px;
      }
      
      table {
        margin: 10px 0;
        border: 1px solid red;
      }
      
      th, td, code, dt {
        font-family: 'Source Code Pro';
        font-size: 12px;
      }
      
      .map {
        margin: 10px 0;
        height: 700px;
        max-width: 900px;
      }
      agm-map {
        height: 600px;
        width: 600px;
      }
      
      .container {
        padding: 1rem;
        
      }
      
      .full-width {
        width: 100%;
      }
   
      
   
}
.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
    font-size:medium;
}

body{
    margin:0;
    overflow-x:hidden;
    font-family: 'Archivo Narrow', sans-serif;
    }
    
    
    /*DEFAULT*/
    a{
    text-decoration:none;
    }
    .title{
    font-size:1.5em;
    font-family: 'Archivo Black', sans-serif;
    }
    .sub-title{
    display:block;
    }
    li{
    list-style:none;
    }
    input,button{
    outline:none;
    }
    .btn1{
    padding:10px 20px;
    border-radius:20px;
    text-align:center;
    color:#fff;
    background:#000;
    width:90%;
    border:0;
    }
    .btn2{
    padding:10px 20px;
    text-align:center;
    color:#fff;
    background:#f79500;
    width:100%;
    border:0;
    }
    .btn3{
    padding:10px 20px;
    text-align:center;
    color:#fff;
    background:#384aeb;
    width:100%;
    border:0;
    }
    .btn4{
    padding:10px 20px;
    text-align:center;
    color:#000;
    border-radius:20px;
    background:#fff;
    width:150px;
    border:0;
    margin:0 20px;
    box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
    }
    label{
    color:gray;
    }
    .checked{
    color:#f79500;
    }
    
    /*ANIMATION*/
    .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
    }
    
    @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
    }
    .inline-photo {
    opacity: 0;
    transform: translateY(4em) rotateZ(-0deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),opacity .3s .25s ease-out;
    will-change: transform, opacity;
    }
    .inline-photo.is-visible {
    opacity: 1;
    transform: rotateZ(-0deg);
    }
    .inline-photo2 {
    opacity: 0;
    transform: translateX(-15em) rotateZ(-0deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),opacity .3s .25s ease-out;
    will-change: transform, opacity;
    }
    .inline-photo2.is-visible2 {
    opacity: 1;
    transform: rotateZ(-0deg);
    }
    
    
    
    
    .banner{
    width:100%;
    height:150px;
    background-image:url("https://i.ibb.co/vcBQN6m/aboutus-header.webp");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    display:flex;
    align-items:center;
    justify-content:center;
    }
    
    .banner section,.banner a{
    color:#fff;
    margin:0 10px;
    }
    
    
    
    
    /*PRODUCT CONTAINER*/
    .product_container{
    width:90%;
    margin:auto;
    position:relative;
    padding:5vh 0;
    margin:5vh auto;
    }
    
    .slide_image_color{
    border:2px solid #384aeb;
    }
    
    .sidebar{
    position:absolute;
    left:0;
    top:0;
    width:10%;
    padding:10px;
    }
    
    .sidebar img{
    display:block;
    margin:2px 0;
    }
    
    .Product_tumbnail{
    width:50%;
    margin:auto;
    }
    
    .product_tumbnail img{
    width:90%;
    height:90%;
    }
    
    .details{
        margin-top: 40px;
    width:35%;
    position:absolute;
    top:0;
    right:0;
    float:right;
    padding:5vh 0;
    }
    
    .price{
    color:#384aeb;
    font-size:1.5em;
    }
    
    .sub-details li{
    padding:10px 0;
    }
    
    .sub-details li i{
    color:#384aeb;
    margin:0 5px;
    }
    
    table{
    width:100%;
    }
    
    table td{
    width:30%;
    padding:10px;
    }
    
    #pincode{
    border:0;
    border-bottom:1px solid gray;
    padding:0 10px;
    }
    
    .star-ratings-css {
    unicode-bidi: bidi-override;
    color: #fff;
    font-size: 1.6rem;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    padding: 0;
    margin:0 10%;
    }
    .star-ratings-css-top {
    color: #3b5998;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: rating 2s forwards;
    }
    .star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
    }
    @keyframes rating {
    from {
    width: 0;
    }
    to {
    width: 70%;
    }
    }
    @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
    }
    @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
    }
    @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
    }
    
    em {
    font-style: italic;
    }
    @media (max-width:1180px){
    .product_container{
    min-width:95%;
      width:100%;
    }
    .sidebar{
    position:static;
    width:100%;
    margin:auto;
    display:block;
    padding:10px;
    }
    .sidebar img{
    display:inline-block;
    margin:0px 2px;
    max-width:33%;
    max-height:100px;
    }
    .Product_tumbnail{
    width:100%;
    margin:auto;
    }
    
    .Product_tumbnail img{
    max-width:100%;
    margin:auto;
    }
    
    .details{
    width:100%;
    position:static;
    float:none;
    padding:5vh 0;
    }
    }
    
    
    
    .reviews{
    width:100%;
    background:#f2f2f2;
    padding:5vh 0;
    position:relative;
    }
    
    .review_sidebar{
    width:90%;
    margin:auto;
    }
    
    .review_sidebar button{
    display:inline-block;
    }
    
    .review_container{
    width:90%;
    margin:auto;
    padding:5vh 0;
    }
    
    .active_button{
    background:#384aeb;
    color:#fff;
    transition:0.5s;
    }
    .specification_table{
    border-collapse:collapse;
    }
    .specification_table td{
    width:50%;
    padding:10px 25px;
    color:gray;
    border-bottom:1px solid rgba(1,1,1,0.1);
    }
    
    .user_star_ratings{
    width:50%;
    }
    
    .overall_rating,.rating_blocks{
    width:40%;
    display:inline-block;
    text-align:center;
    }
    .overall_rating{
    background:#fff;
    padding:30px 20px;
    width:30%;
    position:relative;
    top:-40px;
    }
    .rating_blocks ul{
    position:relative;
    left:-20px;
    }
    
    .rating_blocks ul li{
    padding:5px 0;
    }
    
    .reviews_recorded ul li img{
    border-radius:50%;
    }
    
    .reviews_recorded ul li b{
    display:block;
    }
    
    .enter_user_star_ratings{
    width:40%;
    position:absolute;
    top:20vh;
    right:3vh;
    background:#fff;
    padding:30px;
    }
    
    .enter_user_star_ratings textarea{
    width:90%;
    padding:5%;
    height:150px;
    display:block;
    margin:20px 0; 
    resize:none;
    outline:none;
    } 
    
    @media (max-width:1000px){
    .specification_table td{
    width:95%;
    padding:10px 25px;
    color:gray;
    border-bottom:1px solid rgba(1,1,1,0.1);
    }
    
    .user_star_ratings{
    width:95%;
    margin:15vh 0;
    }
    .review_sidebar button{
    margin:0 5px;
    width:100px;
    font-size:11px;
    display:inline-block;
    }
    .overall_rating,.rating_blocks{
    width:95%;
    display:block;
    }
    .enter_user_star_ratings{
    width:90%;
    position:static;
    background:#fff;
    padding:20px;
    }
    }
    
    .rating-box {
    display: inline-block;
    }
    .rating-box .rating-container {
    direction: rtl !important;
    }
    .rating-box .rating-container label {
    display: inline-block;
    margin: 15px 0;
    color: #d4d4d4;
    cursor: pointer;
    font-size: 30px;
    transition: color 0.2s;
    }
    .rating-box .rating-container input {
    display: none;
    }
    .rating-box .rating-container label:hover, .rating-box .rating-container label:hover ~ label, .rating-box .rating-container input:checked ~ label {
    color: gold;
    }
    