<div class="flex flex-col flex-auto min-w-0">



    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="max-w-3xl">
            <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

                <!-- APP TITLE -->
                <div fxLayout="row" fxLayoutAlign="start center">

                    <button mat-icon-button *ngIf="submitted  ;else contenu_pas_bon" (click)="clickMethod()"
                        class="mr-0 mr-sm-16">
                        <mat-icon>arrow_back</mat-icon>
                    </button>

                    <ng-template #contenu_pas_bon> <button mat-icon-button class="mr-0 mr-sm-16"
                            [routerLink]="'/events/list'">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                    </ng-template>




                </div>



                <!-- Horizontal stepper -->
                <div class="mt-16 mb-8 text-3xl font-bold">Create your own Event</div>

                <form class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="horizontalStepperForm">
                    <mat-horizontal-stepper [linear]="true" #horizontalStepper>
                        <mat-step [stepControl]="horizontalStepperForm.get('step1')" #horizontalStepperStep1>
                            <form [formGroupName]="'step1'" (ngSubmit)="onSubmit()">

                                <ng-template matStepLabel>Basic information</ng-template>
                                <p class="my-6 font-medium">
                                    Fill in your basic information to let us know your preferences
                                </p>
                                <div class="flex">
                                    <mat-form-field class="flex-auto">
                                        <input matInput [formControlName]="'title'" [placeholder]="'Event title'"
                                            required [(ngModel)]="event.title">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:'">
                                        </mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col gt-xs:flex-row">
                                    <mat-form-field class="flex-auto">
                                        <textarea matInput [formControlName]="'description'"
                                            [placeholder]="'description'" [rows]="3"
                                            [(ngModel)]="event.description"></textarea>
                                        <mat-icon class="icon-size-5" matPrefix
                                            [svgIcon]="'heroicons_solid:menu-alt-2'">
                                        </mat-icon>
                                    </mat-form-field>

                                </div>
                                <div class="flex flex-col gt-xs:flex-row">
                                    <mat-form-field class="flex-auto">
                                        <input matInput [formControlName]="'type'" [placeholder]="'Event type'"
                                            [(ngModel)]="event.type">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:'">
                                        </mat-icon>
                                    </mat-form-field>

                                </div>
                                <div class="flex flex-col gt-xs:flex-row">
                                    <mat-form-field class="flex-auto">
                                        <input matInput [formControlName]="'price'" [placeholder]="'Event price'"
                                            [(ngModel)]="event.prices">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:price'">
                                        </mat-icon>
                                    </mat-form-field>

                                </div>
                                <div class="flex justify-end">
                                    <button class="px-8" mat-flat-button [color]="'primary'"
                                        [disabled]="horizontalStepperStep1.stepControl.pristine || horizontalStepperStep1.stepControl.invalid"
                                        type="button" matStepperNext type="submit" value="Submit">
                                        Next
                                    </button>
                                </div>
                            </form>
                        </mat-step>










                        <mat-step [stepControl]="horizontalStepperForm.get('step2')" #horizontalStepperStep2>
                            <form (ngSubmit)="onSubmit3()" [formGroupName]="'step2'">

                                <ng-template matStepLabel>Add location</ng-template>
                                <!---- <p class="my-6 font-medium">
                                    You can add more than one location
                                </p> --

                               

                                <agm-map [latitude]="latitudedef" [longitude]="longitudedef" [disableDefaultUI]="false">
                                    <agm-marker *ngFor="let a of markers; let b = index" [latitude]="latitude"
                                        [longitude]="longitude" [label]="a.label">
                                        <agm-info-window>
                                            <strong>Info Window! This is a random location</strong>
                                        </agm-info-window>
                                    </agm-marker>
                                </agm-map> -->
                                <div>

                                    <mat-google-maps-autocomplete country="tn"
                                        (onLocationSelected)="onLocationSelected($event)"
                                        addressLabelText="Recherche d'adresse" placeholderText="Address"
                                        invalidErrorText="Adresse invalide" requiredErrorText="Address required" 
                                        >
                                    </mat-google-maps-autocomplete>
                                </div>


                                <div class="flex justify-end">
                                    <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                        matStepperPrevious>
                                        Back
                                    </button>
                                    <button class="px-8" mat-flat-button [color]="'primary'" type="button"
                                        matStepperNext type="submit" value="Submit"                                         [disabled]="eventWithPlace == null"
                                        
>
                                        Next
                                    </button>

                                </div>
                            </form>
                        </mat-step>

















                        <mat-step [stepControl]="horizontalStepperForm.get('step3')" #horizontalStepperStep3>
                            <form (ngSubmit)="onSubmit2()" [formGroupName]="'step3'">

                                <ng-template matStepLabel>Add Image</ng-template>
                                <p class="my-6 font-medium">
                                    You can add more than one image
                                </p>
                                <div class="flex flex-col gt-xs:flex-row">
                                    <a mat-stroked-button fxFlexAlign="start" color="primary"
                                        (click)="fileInput.click()">
                                        <span>Importer</span>
                                    </a>

                                    <input type="file" multiple="multiple" id="upload-file-input" #fileInput
                                        (change)="onFileChanged($event)" hidden accept="image/*">
                                    <div *ngFor="let picture of picture4">

                                        <img class="file-upload-image" [src]="picture" *ngIf="picture"
                                            alt="your image" />
                                    </div>
                                    <div class="drag-text">
                                        <h4>Or Drag and drop a file</h4>
                                    </div>


                                </div>


                                <div class="flex justify-end">
                                    <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                        matStepperPrevious >
                                        Back
                                    </button>
                                    <button class="px-8" mat-flat-button [color]="'primary'" type="button"
                                        matStepperNext type="submit" value="Submit" *ngIf="picture4!=Null  ;else contenu_ps_bon"
                                        >
                                        Add
                                    </button>
                                    <ng-template #contenu_ps_bon>

                                        <button class="px-8" mat-flat-button [color]="'primary'" type="button"
                                            matStepperNext   [routerLink]="'/events/list'"
                                            >
                                            Add
                                        </button>
                                        </ng-template>
                                  
                                </div>
                            </form>
                        </mat-step>

            



                        <!----
                    <mat-step [formGroupName]="'step3'" [stepControl]="horizontalStepperForm.get('step3')">
                        <ng-template matStepLabel>Notifications</ng-template>
                        <p class="my-6 font-medium">
                            We'll always let you know about important changes, but you pick what else you want to hear
                            about.
                        </p>
                        <div class="flex flex-col gt-sm:flex-row">
                            <div class="flex flex-col">
                                <span class="font-medium mb-2">By Email</span>
                                <div class="flex flex-col" [formGroupName]="'byEmail'">
                                    <mat-checkbox class="mb-1" [color]="'primary'" [formControlName]="'companyNews'">
                                        Company News
                                    </mat-checkbox>
                                    <mat-checkbox class="mb-1" [color]="'primary'"
                                        [formControlName]="'featuredProducts'">
                                        Featured Products
                                    </mat-checkbox>
                                    <mat-checkbox [color]="'primary'" [formControlName]="'messages'">
                                        Messages
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16">
                                <span class="font-medium mb-2">Push Notifications</span>
                                <mat-radio-group class="flex flex-col" [color]="'primary'"
                                    [formControlName]="'pushNotifications'">
                                    <mat-radio-button class="mb-2" [value]="'everything'">
                                        Everything
                                    </mat-radio-button>
                                    <mat-radio-button class="mb-2" [value]="'just-good'">
                                        Just the good stuff
                                    </mat-radio-button>
                                    <mat-radio-button [value]="'no-push'">
                                        No push notifications
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="flex justify-end mt-8">
                            <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" type="button" matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <p class="my-6 font-medium">
                            Thank you for completing our form! You can reset the form if you would like to change your
                            information.
                        </p>
                        <div class="flex justify-end mt-8">
                            <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button class="px-8" mat-flat-button [color]="'primary'" type="reset"
                                (click)="horizontalStepper.reset();">
                                Reset
                            </button>
                        </div>
                    </mat-step> -->
                    </mat-horizontal-stepper>
                </form>



            </div>

        </div>

    </div>