<div class="container">
    <div class="box">
      <div class="hover-box">
        <div class="text">
          <h1>Bu kişiyi profesyonel listeme ekle</h1>
        </div>
      </div>
      <div class="top">
        <a href="#" id="star"><i class="fa fa-star ico"></i></a>
            <img class="profile"
            src="data:image/jpg;base64,{{user.picture.data}}"
            alt="" />        
        <h1 class="title">{{user.username}}</h1>
        <h3 class="job"></h3>
      </div>
      <div class="bottom">
        <div class="links">
          <ul>
            <li><a href="#">Tunisia</a></li>
            <li><a href="#">Sousse</a></li>
         <!----   <li><i class="fa fa-circle green"></i><a href="#">Ek iş için uygun</a></li> -->
          </ul>
        </div>
        <div class="social-links">
          <ul>
            <li><a href="#">
              <i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li><a href="#">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              </a></li>
            <li><a href="#">
              <i class="fa fa-dribbble" aria-hidden="true"></i>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>